<div>
    <h3>Best Page Collection Gigs</h3>
    <h3>Year: {{ date.year }}</h3>
    <h3 id="period"></h3>

<div id="regular-header" style="display: inline-block;">

        <h1>QA Contractors 
            <span id="qa-high-kpi-value" style="float: right; color: red"></span>
            <span style="float: right;">High KPI: $</span>
        </h1>

        {{!-- <h3 id="high-kpi-value" style="float: right"></h3> --}}
</div>
<table class="table-sm table-bordered" style="width:75%;padding:10px;">
    
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Hours
        </th>
        <th>
            Cost
        </th>
        <th>
            # of gigs
        </th>
        <th>
            # of best pages
        </th>
        <th>
            best pages per hour
        </th>
        <th>
            cost per best pages
        </th>
    </tr>

    <script>
        let kpiArray = [];
        let qa_bestPagesByHours = 0;
        let qa_bestPagesByCost = 0;
        let qa_kpiArray = [];
        let qa_totalCostArray = [];
        let qa_contractorIDArray = [];
        let qa_costArray = [];
        let qa_totalHours = [];
        let qa_totalGigs = [];
    </script>
    {{#each qa_data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.qaer_name}}</td>
            <td>{{this.total_hours}}</td>
            <td>${{this.total_charges}}</td>
            <td id="{{this.id}}qaer-gig-count">{{this.gig_count}}</td>
            <td id="{{this.id}}qaer-kpi-count">{{this.bestpages_collected}}</td>
            <td id="{{this.id}}hour-qa"></td>
            <td id="{{this.id}}cost-qa"></td>

        </tr>

        <script>
            qa_bestPagesByHours = {{this.bestpages_collected}}/{{this.total_hours}};
            $('#{{this.id}}hour-qa').text(qa_bestPagesByHours.toFixed(2));
            qa_bestPagesByCost = {{this.total_charges}}/{{this.bestpages_collected}};
            $('#{{this.id}}cost-qa').text("$"+qa_bestPagesByCost.toFixed(2));
            qa_kpiArray.push({{ this.bestpages_collected }});
            qa_totalCostArray.push({{this.total_charges}});
            qa_contractorIDArray.push({{this.id}});
            qa_costArray.push(qa_bestPagesByCost);
            qa_totalHours.push({{this.total_hours}});
            qa_totalGigs.push({{this.gig_count}});
        </script>

    {{/each}}

        <script>
            console.log(qa_kpiArray)
        </script>

        <td class="total-row">Total</td>
        <td>--</td>
        <td id="qa-total-hours"></td>
        <td id="qa-total-cost"></td>
        <td id="qa-total-gigs"></td>
        <td id="qa-total-best-page"></td>
        <td id="qa-best-page-per-hour"></td>
        <td id="qa-cost-per-best-page"></td>
    </tr>

</table>

<br>

<div id="regular-header" style="display: inline-block;">

        <h1>Regular Contractors 
            <span id="high-kpi-value" style="float: right; color: red;"></span>
            <span style="float: right;">High KPI: $</span>
        </h1>
        {{!-- <h3 id="high-kpi-value" style="float: right"></h3> --}}
</div>
<table class="table-sm table-bordered" style="width:75%;padding:10px;">

    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Hours
        </th>
        <th>
            Cost
        </th>
        <th>
            # of gigs
        </th>
        <th>
            # of best pages
        </th>
        <th>
            best pages per hour
        </th>
        <th>
            cost per best page
        </th>
    </tr>

    <script>
        let bestPageByHours = 0;
        let bestPageByCost = 0;
        let gigCountArray = [];
        let totalCostArray = [];
        let contractorIDArray = [];
        let costArray = [];  
        let hoursArray = [];
        let gigsArray = [];
    </script>
    {{#each data}}
        <tr id="{{this.id}}row">
            <td>{{this.id}}</td>
            <td>{{this.oc_name}}</td>
            <td>{{this.total_hours}}</td>
            <td>${{this.total_charges}}</td>
            <td>{{this.gig_count}}</td>
            <td>{{this.bestpages_collected}}</td>
            <td id="{{this.id}}hour"></td>
            <td id="{{this.id}}cost"></td>

        </tr>

        <script>
            bestPageByHours = {{this.bestpages_collected}}/{{this.total_hours}};
            $('#{{this.id}}hour').text(bestPageByHours.toFixed(2));
            bestPageByCost = {{this.total_charges}}/{{this.bestpages_collected}};
            $('#{{this.id}}cost').text("$"+bestPageByCost.toFixed(2));
            kpiArray.push({{ this.bestpages_collected }});
            totalCostArray.push({{this.total_charges}});
            contractorIDArray.push({{this.id}})
            costArray.push(bestPageByCost)            
            gigCountArray.push({{this.gig_count}})
            hoursArray.push({{this.total_hours}})
            gigsArray.push({{this.gig_count}})
        </script>

    {{/each}}
    <tr class="total-row">
        <td>Total</td>
        <td>--</td>
        <td id="total-hours"></td>
        <td id="total-cost"></td>
        <td id="total-gigs"></td>
        <td id="total-best-page"></td>
        <td id="best-page-per-hour"></td>
        <td id="cost-per-best-page"></td>
    </tr>

</table>

<br>


<h1>Comparisons</h1>
<span>All-time best page collected and money spent and all-time information from the same time last year</span>

<table class="table-sm table-bordered" style="width:75%;padding:10px;">

    <tr>
        <th>
            Year
        </th>
        <th>
            # of gigs
        </th>
        <th>
            # of best pages collected
        </th>
        <th>
            total cost
        </th>
        <th>
            cost per best pages
        </th>
    </tr>

    <tr>
        <td id="this-year-comparison"></td>
        <td id="this-year-gig-total"></td>
        <td id="this-year-best-page-total"></td>
        <td id="this-year-total-cost"></td>
        <td id="this-year-cost-per-best-page"></td>
    </tr>

    <tr>
        <td id="last-year-comparison"></td>
        <td id="last-year-gig-total"></td>
        <td id="last-year-best-page-total"></td>
        <td id="last-year-total-cost"></td>
        <td id="last-year-cost-per-best-page"></td>
    </tr>

</table>




<br>
<br>

<script>
    console.log(gigCountArray)
    
    // In case there is a QAer that also submitted regular gigs, add their KPIs to their QAer row and delete their regular contractor entry 
    for (let i = contractorIDArray.length; i >= 0; i--) {
        if (qa_contractorIDArray.indexOf(contractorIDArray[i]) >= 0) {
            console.log('there was a dupe: '+contractorIDArray[i])
            // removes the row in the regular contractor table
            $(`#${contractorIDArray[i]}row`).remove()

            // getting gig count from the QAer table of the duplicate contractor
            let addTheseQaerGigs = parseInt($(`#${contractorIDArray[i]}qaer-gig-count`).text())
            console.log(addTheseQaerGigs)
            $(`#${contractorIDArray[i]}qaer-gig-count`).text(addTheseQaerGigs+gigCountArray[i])

            // getting kpi  count from the QAer table of the duplicate contractor
            let addTheseQaerKpis = parseInt($(`#${contractorIDArray[i]}qaer-kpi-count`).text())
            $(`#${contractorIDArray[i]}qaer-kpi-count`).text(addTheseQaerKpis+kpiArray[i])

            // redoing and replacing averages dupes
            let newBestPagePerHourAverage = (addTheseQaerKpis+kpiArray[i]) / hoursArray[i]
            $(`#${contractorIDArray[i]}hour-qa`).text(newBestPagePerHourAverage.toFixed(2));

            let newCostPerBestPage = totalCostArray[i] / (addTheseQaerKpis+kpiArray[i])
            $(`#${contractorIDArray[i]}cost-qa`).text('$'+newCostPerBestPage.toFixed(2));

            // splicing/replacing the cost array entry with new average into qacontractoridarray
            qa_costArray.splice(qa_contractorIDArray.indexOf(contractorIDArray[i]), 1, newCostPerBestPage)

            //splice out the dupes kpis and other arrays

            hoursArray.splice(i,1)
            totalCostArray.splice(i,1)
            gigCountArray.splice(i,1)
            kpiArray.splice(i,1)

        }
    }

    let qaTotalHours = qa_totalHours.reduce(function(a, b) {
        return a + b
    }, 0);

    let qaTotalCost = qa_totalCostArray.reduce(function(a, b) {
        return a + b
    }, 0);

    let qaTotalGigs = qa_totalGigs.reduce(function(a, b) {
        return a + b
    }, 0);

    let qaKPIArray = qa_kpiArray.reduce(function(a, b) {
        return a + b
    }, 0);

    let qaBestPagePerHour = qaKPIArray / qaTotalHours;
    let qaCostPerBestPage = qaTotalCost / qaKPIArray;

    console.log(qaBestPagePerHour)
    console.log(qaCostPerBestPage)

    $('#qa-total-hours').text(`${qaTotalHours.toFixed(2)}`);
    $('#qa-total-cost').text(`$${qaTotalCost.toFixed(2)}`);
    $('#qa-total-gigs').text(`${qaTotalGigs}`);
    $('#qa-total-best-page').text(`${qaKPIArray}`);
    $('#qa-best-page-per-hour').text(qaBestPagePerHour.toFixed(2));
    $('#qa-cost-per-best-page').text('$'+qaCostPerBestPage.toFixed(2));

    let totalHours = hoursArray.reduce(function(a, b) {
        return a + b
    }, 0);

    let totalCost = totalCostArray.reduce(function(a, b) {
        return a + b
    }, 0);

    let totalGigs = gigCountArray.reduce(function(a, b) {
        return a + b
    }, 0);

    let totalKPI = kpiArray.reduce(function(a, b) {
        return a + b
    }, 0);

    let averageBestPagePerHours = totalKPI / totalHours;
    let averageCostPerKPI = totalCost / totalKPI;


    $('#total-hours').text(`${totalHours.toFixed(2)}`);
    $('#total-cost').text(`$${totalCost.toFixed(2)}`);
    $('#total-gigs').text(`${totalGigs}`);
    $('#total-best-page').text(`${totalKPI}`);
    $('#best-page-per-hour').text(averageBestPagePerHours.toFixed(2));
    $('#cost-per-best-page').text('$'+averageCostPerKPI.toFixed(2));

    let highCostPerKPI = averageCostPerKPI * 2
    $('#high-kpi-value').text(highCostPerKPI.toFixed(2))
    let highQACostPerKPI = qaCostPerBestPage * 2
    $('#qa-high-kpi-value').text(highQACostPerKPI.toFixed(2))
    console.log()
    console.log("cost per KPI too high: "+highCostPerKPI)

    for (let i = 0; i < contractorIDArray.length; i++) {
        if (costArray[i] > highCostPerKPI) {
            console.log(`${costArray[i]} -- reg contractor: ${contractorIDArray[i]}`)
            $(`#${contractorIDArray[i]}cost`).attr('style', 'background-color: red')
        }
    }

    for (let i = 0; i < qa_contractorIDArray.length; i++) {
        if (qa_costArray[i] > highQACostPerKPI) {
            console.log(`${qa_costArray[i]} -- QAer contractor: ${qa_contractorIDArray[i]}`)

            $(`#${qa_contractorIDArray[i]}cost-qa`).attr('style', 'background-color: red')
        }
    }

    let isYear = "{{ date.year }}"; 
    let isQuarter = "{{ date.quarter }}";
    let isMonth = "{{ date.month }}";
    let link = "";
    let localLink = "";

    // doing math for the year comparison table
    let thisYearBestPageTotal = "{{ data_total.bestpages_collected }}"
    let thisYearGigTotal = "{{ data_total.gig_count }}"
    let thisYearQABestPageTotal = "{{ qa_data_total.bestpages_collected }}";
    let thisYearQAGigTotal = "{{ qa_data_total.gig_count }}";
    let thisYearTotalCost = "{{ upwork_data.totalcharges }}";

    console.log(thisYearBestPageTotal)
    console.log(thisYearGigTotal)
    console.log(thisYearQABestPageTotal)
    console.log(thisYearQAGigTotal)

    let lastYearBestPageTotal = "{{ data_total_prev_year.bestpages_collected }}";
    let lastYearGigTotal = "{{ data_total_prev_year.gig_count }}";
    let lastYearQABestPageTotal = "{{ qa_data_total_prev_year.bestpages_collected }}";
    let lastYearQAGigTotal = "{{ qa_data_total_prev_year.gig_count }}";
    let lastYearTotalCost = "{{ upwork_data_prev_year.totalcharges }}"; 

    console.log(lastYearBestPageTotal)
    console.log(lastYearGigTotal)
    console.log(lastYearQABestPageTotal)
    console.log(lastYearQAGigTotal)

    $("#this-year-comparison").text(isYear);
    $("#this-year-gig-total").text(parseInt(thisYearGigTotal)+parseInt(thisYearQAGigTotal));
    $("#this-year-best-page-total").text(parseInt(thisYearBestPageTotal)+parseInt(thisYearQABestPageTotal));
    $("#this-year-total-cost").text("$"+parseInt(thisYearTotalCost));
    $("#this-year-cost-per-best-page").text("$"+(parseInt(thisYearTotalCost)/(parseInt(thisYearBestPageTotal)+parseInt(thisYearQABestPageTotal))).toFixed(2));


    $("#last-year-comparison").text(isYear-1);
    $("#last-year-gig-total").text(parseInt(lastYearGigTotal)+parseInt(lastYearQAGigTotal));
    $("#last-year-best-page-total").text(parseInt(lastYearBestPageTotal)+parseInt(lastYearQABestPageTotal));
    $("#last-year-total-cost").text("$"+parseInt(lastYearTotalCost));
    $("#last-year-cost-per-best-page").text("$"+(parseInt(lastYearTotalCost)/(parseInt(lastYearBestPageTotal)+parseInt(lastYearQABestPageTotal))).toFixed(2));

    $("#bestpagecollection-button").attr('style', 'background-color: white; color: gray;')

    // nav url attributes

    if (isQuarter.length !== 0) {
        $("#period").text("Quarter: "+isQuarter);
        $("#tuitioncollection").attr('href', '/tuitioncollection/{{ date.year }}/q/{{ date.quarter }}/');
        $("#degreecollection").attr('href', '/degreecollection/{{ date.year }}/q/{{ date.quarter }}/')
        $("#bestpagecollection").attr('href', '/bestpagecollection/{{ date.year }}/q/{{ date.quarter }}/')
        $("#collegecontactcollection").attr('href', '/collegecontactcollection/{{ date.year }}/q/{{ date.quarter }}/');

        for (let i = 2014; i < 2021; i++) {
            $(`#year${i}`).attr('href', `/{{ type.type }}/${i}/q/{{ date.quarter }}/`)
            link = "http://optimal-contractor-report.herokuapp.com"+$(`#year${i}`).attr('href');
            localLink = "http://localhost:8080"+$(`#year${i}`).attr('href');
            if (link === location.href) {
                $(`#yearlink${i}`).attr('style', 'background-color: white; color: gray')
            } else if (localLink === location.href) {
                $(`#yearlink${i}`).attr('style', 'background-color: white; color: gray')
            }
        }

    } else if (isMonth.length !== 0) {
        $("#period").text("Month: "+isMonth);
        $("#tuitioncollection").attr('href', '/tuitioncollection/{{ date.year }}/{{ date.month }}/');
        $("#degreecollection").attr('href', '/degreecollection/{{ date.year }}/{{ date.month }}/');
        $("#bestpagecollection").attr('href', '/bestpagecollection/{{ date.year }}/{{ date.month }}/');
        $("#collegecontactcollection").attr('href', '/collegecontactcollection/{{ date.year }}/{{ date.month }}/');

        for (let i = 2014; i < 2021; i++) {
            $(`#year${i}`).attr('href', `/{{ type.type }}/${i}/{{ date.month }}/`)
            link = "http://optimal-contractor-report.herokuapp.com"+$(`#year${i}`).attr('href');
            localLink = "http://localhost:8080"+$(`#year${i}`).attr('href');
            if (link === location.href) {
                $(`#yearlink${i}`).attr('style', 'background-color: white; color: gray;')
            } else if (localLink === location.href) {
                $(`#yearlink${i}`).attr('style', 'background-color: white; color: gray;')
            }
        }

    } else {
        $("#period").text("Month: "+isMonth)
        $("#tuitioncollection").attr('href', '/tuitioncollection/2020/{{ date.month }}/')
        $("#degreecollection").attr('href', '/degreecollection/2020/{{ date.month }}/')
        $("#bestpagecollection").attr('href', '/bestpagecollection/2020/{{ date.month }}/')
        $("#collegecontactcollection").attr('href', '/collegecontactcollection/2020/{{ date.month }}/')
        for (let i = 2014; i < 2021; i++) {
            $(`#year${i}`).attr('href', `/{{ type.type }}/${i}/{{ date.month }}/`)
        }

    }

    for (let i = 1; i < 13; i++) {
        $(`#month${i}`).attr('href', `/{{ type.type }}/{{ date.year }}/${i}/`);
        link = "http://optimal-contractor-report.herokuapp.com"+$(`#month${i}`).attr('href');
        localLink = "http://localhost:8080"+$(`#month${i}`).attr('href');
        if (link === location.href) {
            $(`#monthlink${i}`).attr('style', 'background-color: white; color: gray;');
        } else if (localLink === location.href) {
            $(`#monthlink${i}`).attr('style', 'background-color: white; color: gray;');

        }
    }

    for (let i = 1; i < 5; i++) {
        $(`#q${i}`).attr('href', `/{{ type.type }}/{{ date.year }}/q/${i}/`)
        link = "http://optimal-contractor-report.herokuapp.com"+$(`#q${i}`).attr('href');
        localLink = "http://localhost:8080"+$(`#q${i}`).attr('href')
        if (link === location.href) {
            $(`#quarterlink${i}`).attr('style', 'background-color: white; color: gray;')
        } else if (localLink === location.href) {
            $(`#quarterlink${i}`).attr('style', 'background-color: white; color: gray;')
        }
    }
</script>

</table>
</div>